body{
    background-color: rgb(12, 237, 162);
}
body{
    color: blueviolet;
}
.one{
    color: brown;
}
.two{
    color: blue;
}
.three{
    color: red;
}
.four{
    color: black;
}
.five{
    color: pink;
}
